<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head> -->
<%- include('includes/head.ejs') %>;
<body>
    <h1>This is the home page 1+2</h1>
    <h3><%= 1+2 %></h3>
    <h3><%= "Darpangiri".toUpperCase() %></h3>
    <h3><%= ["Hello",'Manjour','Namaste'][0] %></h3>
    <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt expedita at itaque qui blanditiis quasi veritatis tempore quibusdam officia? Ducimus quam aperiam similique reprehenderit est tempore, corrupti quis laboriosam odit.
    </p>
    <button>Click me!</button>
    <%- include('includes/footer.ejs') %>
</body>
</html>